div {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(10, 10, 85, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.homePage {
  scroll-behavior: smooth;
}

.homePage .block {
  height: 50px;
  width: 100%;
  color: black;
  background-color: black;
}
