.headerCtn a {
    /* padding: 53px 0 13px 0; */
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.headerCtn header ul {
    padding: 4.5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerCtn header ul a {
    font-family: "Lato", sans-serif; 
}

.headerCtn nav ul {
    width: 85%;
    padding: 1.5% 0;
    margin: 0 auto;
    display: flex;   
    justify-content: space-between;

}

.headerCtn nav ul li a {
    font-weight: 700;
    letter-spacing: 1px;
}

.headerCtn .scionLogo {
    width: 249px;
    padding-right: 2%;
}

.services-subMenu {
    width: 10rem;
    position: absolute;
    text-align: start;
}

.services-subMenu.clicked {
    display: none;
}

.submenu-item:hover {
    background-color: red;
}

.nav-item a:hover {
    background-color: aquamarine;
}